.page_title {
    font-size:2rem;
    font-weight: bold;
    margin-top:2rem;
    text-align: center;
}
.event_box {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
    max-height: 25vh;
    max-width: 15vw;
    row-gap: 5px;
    border: 3px solid green;
    text-align: center;
    font-size: max(10%, 1.5vh);
    border-radius: 20px;
}
.all_events{
    display: grid;
    gap: 20px;

    grid-template-columns: repeat(6, 1fr);
    padding: 40px;
    margin-top: 2%;
}