.page_title {
    font-size:2rem;
    font-weight: bold;
    margin-top:2rem;
    text-align: center;
}
.future_event_box {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
    max-height: 25vh;
    max-width: 15vw;
    row-gap: 5px;
    border: 8px inset green;
    text-align: center;
    font-size: max(10%, 1.5vh);
    border-radius: 20px;
}
.past_event_box {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
    max-height: 25vh;
    max-width: 15vw;
    row-gap: 5px;
    border: 8px outset firebrick;
    text-align: center;
    font-size: max(10%, 1.5vh);
    border-radius: 20px;
}
.all_events{
    display: flex;
    gap: 20px;

    padding: 20px;
    margin-top: 2%;
}
.past_events {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);

}
.future_events {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(auto-fill,minmax(100px,1fr));
    margin-bottom:60px;


}
.box_title {
    display: flex;
    flex-wrap: wrap;
}

.first_row {
    display: flex;
    gap: 20px;
    padding: 10px;
    font-size: 12px;
    margin-left: 60px;
}
.second_row {
    display: flex;
    gap: 20px;
    padding: 10px;
    font-size: 12px;
    margin-left: 60px;

}
.logged_in {
    display: flex;
    margin-left: 40px;
    font-size: 16px;
    color: green;
    font-weight: 600;
    letter-spacing: 3px;
}